html{
  width:100%;
  height:100%;
  background: url(../images/dtc-app-bg-3.jpg) no-repeat center left fixed #111;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 3vw;
}
body{
  -webkit-overflow-scrolling: touch;
}

@media screen
  and (min-device-width: 768px)
{
  html{
    font-size: 11px;
  }
}

button, button:focus, button:visited{ outline: none !important; cursor: pointer; }



#page-about{
  padding: 0px 20px 36px;
  color: #cfcfcf;
  font-size: 1.2rem;
}
#page-about h2{
  color: #fff;
  margin: 40px 0 10px;
  font-size: 2.5rem;
  font-weight: 100;
}
#page-about ul{
  padding-left: 20px;
}
#page-about li{margin-bottom: 8px;}
#page-about p, #page-about ul{
  color: #a5a5a5;
  font-weight: 400;
}

.dbox-donation-button{
  background:#cf65b1 url(https://d1iczxrky3cnb2.cloudfront.net/white_logo.png) no-repeat 10px center;
  color: #fff;
  text-decoration: none;
  font-family: Verdana,sans-serif;
  display: inline-block;
  font-size: 15px;
  padding: 11px 16px 12px 45px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  box-shadow: 0 1px 0 0 #90467b;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.about-mike-photo{
  display: block;
  width: 150px;
  height: 150px;
  margin: 12px 0;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border:4px solid #fff;
  overflow: hidden;
  position: relative;
}
.about-mike-photo img{
  position: relative;
  left: -9%;
  width: 122%;
}

#landscape-warning{
  position: fixed;
  z-index: 2000;
  left: 10vw;
  right: 10vw;
  top: 10vw;
  padding: 28px 30px;
  border-radius: 5px;
  background: #8e3b3b;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
  color: #fff;
  font-weight: 600;
  font-size: 1.35rem;
  text-align: center;
}
#landscape-warning button{
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
}
#landscape-warning button .material-icons{
  font-size: 3.2rem;
}


/*  GLOBAL PAGE TRANSITIONS
    ====================================================
*/

#app{
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  /*background: rgba(50, 50, 50, 0.5);*/
}
#app-wrap{
  height: 100%;
}
#app-main-body{
  position: relative;
  height: calc(100% - 44px);
}
/*#app{
  position:absolute;
  top:0; right:0; bottom:0; left:0;
}*/
.page-wrap{
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  overflow:auto;
}

#app-navbar{
  position: fixed;
  z-index: 101;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  line-height: 44px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
.app-navbar-btn{
  display: inline-block;
  width: 100vw;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #a23fc5;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.app-navbar-btn span{
  font-size: 1em;
}
.app-navbar-btn span.material-icons{
  height: 44px;
  line-height: 42px;
  font-size: 2rem;
}


.app-menu-head{
  display: block;
  outline: none;
  width: 70%;
  text-align: center;
  margin: 0 0 1rem;
  opacity: 0.2;
}
.app-menu-head img{
  width: 100%;
}
.bm-menu nav.bm-item-list button {
  width: 100%;
  height: 3.8rem;
  padding: 0.2rem 0;
  font-size: 1.25rem;
  text-align: left;
  color: rgba(255,255,255,0.8) !important;
  text-transform: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.bm-menu nav button .material-icons {
  font-size: 2.3rem;
  margin-right: 0.9rem;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  font-size: 2.2rem;
  color: rgba(255,255,255,0.7);
}

/* General sidebar styles */
.bm-menu {
  background: rgba(55, 58, 71, 1);
  background: #42275a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #693861, #765296);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #693861, #765296); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2em 2em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* FIXED WRAPPER WIDTH FOR BROWSER DEMOS */

#app-wrapper.demo{
  margin:100px auto;
  width: 414px;
  height: 736px;
  box-shadow:1px 1px 30px 0px rgba(0,0,0,0.1);
  background:-webkit-linear-gradient(#d359dc 0%, #aa55c1 100%);
}

/* REACT TOOLBOX DIALOGS */

div[data-react-toolbox="dialog"] section{
  padding: 1.6rem;
}
div[data-react-toolbox="dialog"] section h6{
  margin: 0 0 1.8rem 0;
  letter-spacing: -0.05rem;
  font-size: 2.4rem;
  font-weight: 100;
  color: #111;
}
div[data-react-toolbox="dialog"] section{
  font-size: 1.2rem;
}
