#page-my-plans{
  padding-bottom: 30px;
}

.calendar-days{
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 74px;
  /* top: 52px; */
  left: 0;
  right: 0;
  z-index: 5;
}
.calendar-day{
  background: #fff;
  height: 74px;
  line-height: 74px;
  padding: 0px 8px ;
  text-align: center;
  border-right: 1px solid #f0f0f0;
  flex-grow: 1;
  cursor: pointer;
}
.calendar-day:last-child{
  border-right: none;
}
.calendar-day.active{
  background: #3a9bcc;
}
.calendar-day.active .calendar-day-name{
  color: #fff;
}
.calendar-day-inner{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-bottom: 6px;
}

.calendar-day-date{
  display: block;
  font-weight: 100;
  font-size: 2.8rem;
  margin-bottom: 3px;
  color: #b1b1b1;
}
.calendar-day.active .calendar-day-date{ color: #f0f0f0; }
.calendar-day-name{
  display: block;
  font-weight: 900;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #555;
}


.table-list-wrap{
  /* position: fixed;
  top: 138px;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 0px 0;
  overflow-y: auto; */
  position: relative;
  padding-top: 74px;
}

#page-my-tables .table-list-wrap{
  padding-top: 10px;
}


ul.plans-timeline{
  position: relative;
  margin: 20px 0 30px 0;
  padding: 0;
  list-style: none;
}
ul.plans-timeline:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #5a5a5a;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
ul.plans-timeline li{
  position: relative;
  margin-right: 2px;
  margin-bottom: 38px;
}
ul.plans-timeline li > .fa{
  width: 34px;
  height: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  position: absolute;
  color: #fff;
  background: #6f6f6f; /* #3a9bcc; */
  border-radius: 50%;
  text-align: center;
  left: 16px;
  top: 2px;
}
ul.plans-timeline li.mytable > .fa {
  background: #48af5c;
}
ul.plans-timeline li > .fa.cancelled{
  background: #c74646;
}
ul.plans-timeline li > .fa-graduation-cap{
  top: 34px;
}
ul.plans-timeline li.joined > .fa{
  background: #4aade0;
}
ul.plans-timeline li.dtc-event.joined > .fa{
  background: #79648e;
}

ul.plans-timeline li > .plans-overlap{
  position: absolute;
  top: 80px;
  left: 0px;
  background: #d84444;
  color: #fff;
  transform: rotate(-90deg);
  display: inline-block;
  padding: 4px 6px;
  border-radius: 3px;
}

ul.plans-timeline .plans-item{
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-top: 0;
  background: #f6f6f6;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0 0 5px;
  position: relative;
}
ul.plans-timeline .cancelled .plans-item{ opacity: 0.6; background: #f1e8e8; }

.plans-item .plans-item-head{
  padding: 12px 14px;
  width: calc(100% - 28px);
  background: #6f6f6f;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.dtc-event.dtc .plans-item .plans-item-head{ background: #a76ab1; }
.dtc-event.tournament .plans-item .plans-item-head{ background: #a26262; }
.dtc-event.panel .plans-item .plans-item-head{ background: #5376a5; }

.plans-item .plans-item-head a{ color: #fff; text-decoration: underline; }
.plans-item .plans-item-body{
  padding: 10px 14px 12px;
}
.plan-tag{
  display: inline-block;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  background: #bb9889;
  color: #fff;
  padding: 6px 8px;
  line-height: 1;
  font-size: 1.08rem;
}
.plans-item-body .plan-tag.hosting{
  background: #49af5d;
}
.plans-item-body .plan-tag.otherhost{
  background: #846e50;
}
.plans-item-body .plan-tag.experts, .plan-tag.experts{
  background: #da7401;
  color: #fff;
}

p.plans-time {
  display: inline-block;
  margin: 0 12px 10px 1px;
  font-weight: 100;
  font-size: 1.8rem;
  color: #666;
}
.plans-time + span.plan-tag {
  background: #ffffff;
  color: #444;
  box-shadow: 0 0 7px rgba(0,0,0,0.175);
  margin-bottom: 8px;
  top: -2px;
  position: relative;
  display: inline;
}
.plans-time + span.plan-tag:after {
  white-space: pre;
  content: "\A";
}

.plans-btns{
  position: absolute;
  bottom: -20px;
  left: 14px;
}
.plans-btns button{
  border: none;
  outline: none;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  display: inline-block;
  /*background: #3a9bcc;*/
  background: #c16161; /*#d25555;*/
  color: #fff;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 6px;
  margin-right: 8px;
}
.plans-btns button.edit{ background: #6C7D96; }
.plans-btns button.delete, .plans-btns button.leave{ background: #c16161; /*#d25555;*/ }
.plans-btns button.join{ background: #4aade0; /*#30a734;*/ }
.plans-btns button[disabled]{ background: #9b9b9b; color: #ededed; font-style:italic; }
.plans-btns button.players{ background: #6C7D96; }

.table-search-list-empty {
  padding: 30px 26px;
  margin-top: 10px;
}
.table-search-list-empty h3{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0 0 12px;
}
.table-search-list-empty p{
  color: #f5f5f5;
  font-weight: 300;
  font-size: 1.2rem;
}


/* MY SETTINGS */

.my-settings-wrap{
  padding: 34px 22px;
}
#page-my-settings h2{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0 0 4px;
}

.my-profile-name{
  color: #999;
  font-size: 1.5rem;
}

.my-settings-item{
  background: #f6f6f6;
  color: #444;
  margin: 14px auto;
  padding: 16px 18px;
  border-radius: 4px;
}

.my-settings-item h3{
  margin: 0 0 10px;
  font-size: 1.7rem;
}
.my-settings-item .my-current-account{
  display: block;
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 24px;
}
.my-current-account span{
  font-weight: 600;
  color: #af4492;
}

.my-settings-item .account-option{
  margin: 16px auto 2px;
}

.my-game-list .game-item-action{
  padding: 5px 0px !important;
}
.my-game-list .game-item-action-title{
  width: calc(100% - 114px);
  font-size: 1.05rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.my-dns-list .game-item-action-btn.active, .my-ignore-list .game-item-action-btn.active{
  background: #b73434;
}

/* MY ALERTS */

#page-my-alerts{
  padding: 34px 22px;
}

#page-my-alerts h2{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0 0 20px;
}
