#page-my-plans{
  padding-bottom: 30px;
}

.calendar-days{
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.calendar-day{
  background: #fff;
  padding: 16px 8px;
  text-align: center;
  border-right: 1px solid #f0f0f0;
  flex-grow: 1;
}
.calendar-day:last-child{
  border-right: none;
}
.calendar-day.active{
  background: #3a9bcc;
}
.calendar-day.active .calendar-day-name{
  color: #fff;
}

.calendar-day-date{
  display: block;
  font-weight: 100;
  font-size: 2.8rem;
  margin-bottom: 3px;
  color: #e8e8e8;
}
.calendar-day-name{
  display: block;
  font-weight: 900;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #555;
}

ul.plans-timeline{
  position: relative;
  margin: 20px 0 30px 0;
  padding: 0;
  list-style: none;
}
ul.plans-timeline:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #5a5a5a;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
ul.plans-timeline li{
  position: relative;
  margin-right: 2px;
  margin-bottom: 38px;
}
ul.plans-timeline li > .fa{
  width: 34px;
  height: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  position: absolute;
  color: #fff;
  background: #3a9bcc;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  top: 2px;
}
ul.plans-timeline li > .fa.cancelled{
  background: #c74646;
}
ul.plans-timeline .plans-item{
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-top: 0;
  background: #f6f6f6;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0 0 5px;
  position: relative;
}
ul.plans-timeline .cancelled .plans-item{ opacity: 0.6; background: #e6b8b8; }

.plans-item .plans-item-head{
  padding: 12px 14px;
  width: calc(100% - 28px);
  background: #6f6f6f;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.plans-item .plans-item-body{
  padding: 10px 14px 12px;
}
.plans-item-body .plan-tag{
  display: inline-block;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  background: #bb9889;
  color: #fff;
  padding: 6px 8px;
  line-height: 1;
  font-size: 1.08rem;
}
.plans-item-body .plan-tag.hosting{
  background: #49af5d;
}

p.plans-time {
  margin: 0 0 8px;
  font-weight: 100;
  font-size: 1.8rem;
  color: #666;
}

.plans-item button{
  position: absolute;
  bottom: -20px;
  left: 14px;
  border: none;
  outline: none;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  display: inline-block;
  /*background: #3a9bcc;*/
  background: #d25555;
  color: #fff;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 6px;
  margin-right: 8px;
}


/* MY SETTINGS */

.my-settings-wrap{
  padding: 34px 22px;
}
#page-my-settings h2{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0 0 20px;
}

.my-settings-item{
  background: #f6f6f6;
  color: #444;
  margin: 14px auto;
  padding: 16px 18px;
  border-radius: 4px;
}

.my-settings-item h3{
  margin: 0 0 10px;
  font-size: 1.7rem;
}
.my-settings-item .my-current-account{
  display: block;
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 24px;
}
.my-current-account span{
  font-weight: 600;
  color: #af4492;
}

.my-settings-item .account-option{
  margin: 16px auto;
}


/* MY ALERTS */

#page-my-alerts{
  padding: 34px 22px;
}

#page-my-alerts h2{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0 0 20px;
}
