#app-splash-inner{
  width:100%;
  margin:5vh auto 0;
}
#app-splash-intro #app-logo{
  width: 65%;
  max-width: 400px;
  margin:0 auto 12vh;
  text-align: center;
}
#app-splash-intro #app-logo img{
  width:100%;
  margin:0 auto;
}

#app-splash-actions{
  /*position:absolute;*/
  /*bottom:20%;*/
  width:100%;
  text-align: center;
}
.app-splash-action{
  width: 80%;
  max-width: 350px;
  margin:8px auto;
  text-align: center;
}
button.btn-login{
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding:0;
  border:none;
  border-radius:6px;
  text-align: center;
  text-transform: uppercase;
  background: #a23fc5;
  /*border:1px solid #fff;*/
  text-align: left;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.3);
}
button.btn-login::before{
  display: block;
  position: relative;
  float: left;
  width: 42px;
  height: 40px;
  line-height: 40px;
  margin-right: 16px;
  background: rgba(255,255,255, 0.15);
  border-radius: 6px 0 0 6px;
  font-family: 'FontAwesome';
  text-rendering: optimizeLegibility;
  font-style: normal;
  text-transform: none;
  text-align: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

button.btn-login-facebook{ background: #4a80bd; }
button.btn-login-facebook::before{ content: "\f09a"; }

button.btn-login-google{ background: #DD4A36; }
button.btn-login-google::before{ content: "\f1a0"; }

button.btn-login-logout{ background: #c7594a; }
button.btn-login-logout::before{ content: "\f08b"; }

button.btn-login-guest::before{ content: "\f2bd"; }

button.btn-home-start-table::before { content: "\f145"; font-size: 1.7rem; }


.app-splash-action button.btn-login:active, .app-splash-action button.btn-login:hover{
  background:#fff;
  color:rgba(69,11,90,1);

  /* SCALES DOWN BUTTON */
  -webkit-transform: scale3d(0.98, 0.98, 1);
  transform: scale3d(0.98, 0.98, 1);
}

.btn-login-link{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0 0 0;
  border: none;
  background: none;
  color: rgba(255,255,255,0.8);
  text-decoration: underline;
  outline: none;
  font-size: 1.15rem;
  font-weight: 400;
}
.btn-login-link:hover{
  color: #fff;
}

#page-home #app-logo{
  text-align: left;
  opacity:0.9;
  margin: 0px 25px 30px;
}
#page-home #app-logo img{
  width: 45%;
  max-width: 300px;
}

.home-action-wrap{
  width: 65%;
  max-width: 300px;
  margin: 0 auto;
}
.home-action-wrap .btn-login{
  background: #3cab51;
}

.home-plans{
  padding: 0px 22px 10px;
}
.home-plans .table-search-list-empty{ padding: 0 0 10px; text-align: left !important; }
.home-plans .table-search-list-empty h3{ font-size: 1.8rem !important; color: #999; font-style: italic; }
.home-plans .table-search-list-empty p{ text-align: left !important; padding: 0 !important; }
.home-plans-title{ position: relative; margin-bottom: 12px; }
.home-plans-title h2{
  display: inline-block;
  color: #f0f0f0;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
}
.home-plans-title h2 span{
  font-size: 1.4rem;
  font-style: italic;
  color: #999;
}
.home-plans-btn{
  /* float: right; */
  margin-top: 0.12rem;
  display: inline-block;
  border: none;
  font-size: 1.2rem;
  padding: 0px 18px 0 12px;
  height: 3.2rem;
  line-height: 2.5rem;
  background: #3cab51;
  color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.home-plans-btn span{
  font-size: 1.4rem;
  line-height: 2.3rem;
  vertical-align: top;
  margin-right: 0.35rem;
}

.home-plans-list{
  margin-bottom: 20px;
}

.home-top-list{
  float: left;
  width: calc(50% - 28px);
  margin: 0 0 0 18px;
  background: rgba(255,255,255,0.9);
  text-align: center;
  border-radius: 3px;
}
.home-top-list h2{
  background: #77b0b1;
  color: #fff;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 5px 4px;
  margin: 6px 0 0px;
}
.home-top-list ol{
  padding: 7px 10px 7px 10px;
  margin: 0;
  text-align: left;
  list-style-type: none;
  counter-reset: li;
}
.home-top-list li{
  position: relative;
  margin: 0 0 4px 2em;
  padding: 3px 3px 3px 7px;
  line-height: 125%;
  font-size: 1.05rem;
  color: #555;
  background: none;
  counter-increment: step-counter;
}
.home-top-list li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 3px;
  /* border-top: 2px solid #666; */
  color: #fff;
  background: #77b0b1;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  border-radius: 3px;
  vertical-align: top;
}
.home-top-list.home-top-wtp h2, .home-top-list.home-top-wtp li::before{ background: #ad9a60; }
