#app-splash-inner{
  width:100%;
  margin:10vh auto 0;
}
#app-splash-intro #app-logo{
  width: 65%;
  max-width: 400px;
  margin:0 auto 22vh;
  text-align: center;
}
#app-splash-intro #app-logo img{
  width:100%;
  margin:0 auto;
}

#app-splash-actions{
  /*position:absolute;*/
  /*bottom:20%;*/
  width:100%;
  text-align: center;
}
.app-splash-action{
  width: 80%;
  max-width: 350px;
  margin:8px auto;
  text-align: center;
}
button.btn-login{
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding:0;
  border:none;
  border-radius:6px;
  text-align: center;
  text-transform: uppercase;
  background: #a23fc5;
  /*border:1px solid #fff;*/
  text-align: left;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.3);
}
button.btn-login::before{
  display: block;
  position: relative;
  float: left;
  width: 42px;
  height: 40px;
  line-height: 40px;
  margin-right: 16px;
  background: rgba(255,255,255, 0.15);
  border-radius: 6px 0 0 6px;
  font-family: 'FontAwesome';
  text-rendering: optimizeLegibility;
  font-style: normal;
  text-transform: none;
  text-align: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

button.btn-login-facebook{ background: #4a80bd; }
button.btn-login-facebook::before{ content: "\f09a"; }

button.btn-login-google{ background: #DD4A36; }
button.btn-login-google::before{ content: "\f1a0"; }

button.btn-login-guest::before{ content: "\f2bd"; }

.app-splash-action button.btn-login:active, .app-splash-action button.btn-login:hover{
  background:#fff;
  color:rgba(69,11,90,1);

  /* SCALES DOWN BUTTON */
  -webkit-transform: scale3d(0.98, 0.98, 1);
  transform: scale3d(0.98, 0.98, 1);
}

.btn-login-link{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0 0 0;
  border: none;
  background: none;
  color: rgba(255,255,255,0.8);
  text-decoration: underline;
  outline: none;
  font-size: 1.15rem;
  font-weight: 400;
}
.btn-login-link:hover{
  color: #fff;
}

#page-home #app-logo{
  text-align: center;
  opacity:0.25;
  margin: 60px auto;
}
#page-home #app-logo img{
  width: 70%;
}
