.page-table-edit-wrap{
  position: relative;
  padding-bottom: 30px;
}

.page-table-edit-wrap h1{
  padding: 30px 20px 16px 20px;
  margin:0 auto 0px;
  background: #2e539c;
  color: rgba(255,255,255,0.25);
  font-size: 2.1rem;
  font-weight: 100;
}

.my-profile{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
  display: block;
  width: 70px;
  height: 70px;
  margin: 0;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  border: 4px solid #fff;
  overflow: hidden;
}
.my-profile img{
  position: relative;
  height: 70px;
  width: 70px;
}

.table-game-details{
  margin: 0 0 20px;
  background: #333;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 15px 60px 15px 22px;
}

.table-form-item{
  position: relative;
  margin: 8px 16px;
  padding: 10px 16px;
  background: #f3f3f3;
  color: #333;
  border-radius: 2px;
}
.table-form-item * {
  font-size: 1.3rem;
}

.table-form-playerseats span{
  color: #909090;
  font-weight: 100;
  font-style: italic;
}

.table-form-item div[data-react-toolbox="input"]{
  padding-bottom: 1rem;
  outline: none;
}
div[data-react-toolbox="dropdown"]{
  outline: none;
  z-index: 310;
}

div[data-react-toolbox="overlay"]{
  height: 90vh;
  top: -10px;
  z-index: 500;
}
div[data-react-toolbox="dialog"] h3#months{
  margin: 0.4rem 0 0;
  font-size: 2.6rem;
}
div[data-react-toolbox="dialog"][class*="hoursDisplay"] header, div[data-react-toolbox="dialog"][class*="minutesDisplay"] header{
  width: auto;
  font-size: 4.2rem;
}

div[data-react-toolbox="dropdown"] ul{
  margin: 0; padding: 8px 0; outline: none;
}


div[data-react-toolbox="dropdown"] li{
  padding: 0.6rem 1rem;
  font-size: 1.15rem;
}
.game-search div[data-react-toolbox="dropdown"] li{
  padding: 0.4rem 1rem;
  font-size: 1.05rem;
}


div[data-react-toolbox="slider"] div[class*="theme__snap"]:after{
  display: block;
  width: 4px;
  height: 4px;
  content: "";
  background-color: #3f51b5;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

label[data-react-toolbox="switch"]{
  margin: 0.7rem 0;
}

.table-form-item .submit{
  border: none;
  outline: none;
  padding: 12px 14px;
  text-align: center;
  display: block;
  /*background: #3a9bcc;*/
  background: #a23fc5;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 7px;
}



.table-list{
  padding: 28px 22px;
}
.table-list h2{
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0 0 20px;
}

.table-item{
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 28px;
}
.table-item-header{
    background: #365e8c;
    padding: 0px 9px;
    text-align: right;
    height: 44px;
    line-height: 44px;
    text-align: right;
}
.table-item-title{
  font-size: 1.25rem;
  font-weight: 600;
  float: left;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: #fff;
}
.table-item-when{
  position: absolute;
  top: -15px;
  right: -8px;
  display: inline-block;
  border-radius: 4px;
  background: #fff;
  color: #222;
  font-weight: 900;
  padding: 8px 9px;
  line-height: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  z-index: 20;
}
span.table-item-when.cancelled {
  background: #bb5c5c;
  color: #fff;
}

.table-item-details{
  background: #f2f2f2;
  padding: 9px 9px;
}
.table-item-tag{
  display: inline-block;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  background: #d6d6d6;
  color: #4e4e4e;
  padding: 6px 8px;
  line-height: 1;
}
.table-item-actions{
  background: #fff;
  padding: 9px 9px;
}
.table-item-actions button{
  border: none;
  outline: none;
  height: 34px;
  line-height: 34px;
  padding: 0px 12px;
  display: inline-block;
  /*background: #3a9bcc;*/
  background: #9b56b3;
  color: #fff;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 6px;
  margin-right: 8px;
}
.table-item-actions button.delete{
  background: #773333;
  padding: 0 6px;
}
.table-item-actions .delete .material-icons{
  font-size: 2.2rem;
  font-weight: normal;
  vertical-align: middle;
}
.table-item-actions button.leave{
  font-style: italic;
  background: #773333
}

select.sublocation_alpha{
  border: 1px solid #aaa;
  background: #fff;
  padding: 5px 7px;
  margin-right: 8px;
}
select.sublocation_num{
  border: 1px solid #aaa;
  background: #fff;
  padding: 5px 7px;
  margin-right: 8px;
}


.table-players-data .table-host{
  background: #49af5d;
  display: inline-block;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  color: #fff;
  padding: 6px 8px;
  line-height: 1;
  font-size: 1.08rem;
}
.table-players-data .table-players-list{
  background: #e2f7e6;
  padding: 12px;
}
.table-players-data .table-players-waitlist{
  background: #f7ece2;
  padding: 12px;
}
.table-players-data .table-player{
  padding: 4px;
  margin-bottom: 5px;
  background: #fff;
  color: #555;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.table-players-data .table-player span{
  display: inline-block;
  background: #666;
  color: #fff;
  font-weight: 200;
  text-align: center;
  width: 40px;
  margin-right: 5px;
  padding: 2px 0;
}
